body {
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width: 1150px) {
    .wrapper {
        max-width: 1024px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rokkitt', serif;
}

a,
a:hover {
    color: #0066a1;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.post-tags .tags a {
    color: #0066a1;
    border: 1px solid #0066a1;
}

.meta-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-tags {
    margin-right: 1rem;
}

.post-tags .tags li {
    margin-top: 0;
}

.rouge {
    padding-left: 0.5rem;
}

img.align-left {
    margin: 10px auto 10px 10px;
}

#paypal-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

#paypal-text-link {
    margin-left: 1rem;
}

.github-url {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin-top: -1rem;
}

.github-url > svg {
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
}

.project-description {
    margin-top: 1rem;
}

h3.summary {
    margin-top: 0.5rem;
}


.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row > div:nth-child(3) {
    margin-left: auto;
}


.header-image-container {
    padding-right: 20px;
}

.header-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.pull-right {
    margin-left: auto;
}

.fill {
    flex: 1;
}

@media only screen and (max-width: 670px) {
    div.desktop {
        display: none;
    }
}

@media only screen and (min-width: 671px) {
    div.mobile {
        display: none;
    }
}

#signup-block {
    background-color: rgba(0, 102, 161, 0.58);
    border-radius: 0.5rem;
    padding: 1rem 4rem;
    margin-top: 1.5rem;
}

#signup-block-title {
    color: #eef1ff;
    font-size: 1.3rem;
}

#signup-block-subtitle {
    color: #00183e;
    font-size: 0.9rem;
}

#signup-block input.email {
    padding: 1.3rem 1.5rem;
    line-height: 1.5rem;
}


#signup-block input.button {
    height: 100%;
}

#signup-block .button:hover {
    background-color: #005591;
}

#mc_embed_signup_scroll {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

@media only screen and (max-width: 768px) {
    #mc_embed_signup_scroll {
        display: grid;
        grid-auto-rows: 1fr;
        justify-content: normal;
    }

    #signup-block-title {
        font-size: 1rem;
    }

    #signup-block-subtitle {
        font-size: 0.8rem;
    }

    #signup-block input.button {
        height: 90%;
    }
}

/* Mailchimp CSS */
#mc_embed_signup {
    clear: left;
    width: 100%;
    margin-top: 0.5rem;
}

#mc_embed_signup .button {
    background-color: #0066a1;
    color: #eef1ff;
}

/* AsciiDoctor*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    border: 0;
}

.fa {
    font-family: "Font Awesome 5 Free";
}

.admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
    text-rendering: optimizeLegibility;
    text-align: left;
    font-family: "Noto Serif", "DejaVu Serif", serif;
    font-size: 1rem;
    font-style: italic
}

table.tableblock.fit-content > caption.title {
    white-space: nowrap;
    width: 0
}

.paragraph.lead > p, #preamble > .sectionbody > [class="paragraph"]:first-of-type p {
    font-size: 1.21875em;
    line-height: 1.6;
    color: rgba(0, 0, 0, .85)
}

table.tableblock #preamble > .sectionbody > [class="paragraph"]:first-of-type p {
    font-size: inherit
}

.admonitionblock > table {
    border-collapse: separate;
    border: 0;
    background: none;
    width: 100%
}

.admonitionblock > table td.icon {
    text-align: center;
    width: 80px
}

.admonitionblock > table td.icon img {
    max-width: none
}

.admonitionblock > table td.icon .title {
    font-weight: bold;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    text-transform: uppercase;
    font-size: 2.0em;
}

.admonitionblock > table td.content {
    padding-left: 1.125em;
    padding-right: 1.25em;
    border-left: 1px solid #dddddf;
    color: rgba(0, 0, 0, .6)
}

.admonitionblock > table td.content > :last-child > :last-child {
    margin-bottom: 0
}

.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    cursor: default
}

.admonitionblock td.icon .icon-note::before {
    content: "\f05a";
    color: #0066a1
}

.admonitionblock td.icon .icon-tip::before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155, 155, 0, .8);
    color: #111
}

.admonitionblock td.icon .icon-warning::before {
    content: "\f071";
    color: #bf6900
}

.admonitionblock td.icon .icon-caution::before {
    content: "\f06d";
    color: #bf3400
}

.admonitionblock td.icon .icon-important::before {
    content: "\f06a";
    color: #bf0000
}

.conum[data-value] {
    display: inline-block;
    color: #fff !important;
    background: #0066a1;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-style: normal;
    font-weight: bold
}

.conum[data-value] * {
    color: #fff !important
}

.conum[data-value] + b {
    display: none
}

.conum[data-value]::after {
    content: attr(data-value)
}

pre .conum[data-value] {
    position: relative;
    top: -.125em
}

b.conum * {
    color: inherit !important
}

.conum:not([data-value]):empty {
    display: none
}

.colist td:not([class]):first-child {
    padding: .4em .75em 0;
    line-height: 1;
    vertical-align: top;
}

.colist td:not([class]):first-child img {
    max-width: none
}

.colist td:not([class]):last-child {
    padding: .25em 0
}

table.linenotable td.code {
    padding-left: .75em;
}

table.linenotable td.linenos {
    border-right: 1px solid rgba(255, 255, 255, .35);
    opacity: .35;
    padding-right: .5em;
}

.literalblock pre, .listingblock > .content > pre {
    padding: 0.75em;
}

.highlight pre {
    padding: 0;
}
