{{ define "main" }}
<div class="page-content frame">
    <h1>{{ .Title }}</h1>
    {{ if ne .Type "page" }}
    <div class="meta-row">
        <span class="date">{{ dateFormat "January 2, 2006" .Date }}{{ if .Draft }} · DRAFT{{ end }}</span>
        {{- with .Params.tags }}
        <span class="tags">
            {{- range . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
            {{- end }}
        </span>
        {{- end }}
    </div>
    {{ end }}
    {{ .Content }}
</div>
{{ end }}
