{{ $title := $.LinkTitle }}
{{ $font := resources.GetRemote "https://github.com/google/fonts/raw/main/ofl/rokkitt/Rokkitt%5Bwght%5D.ttf" }}
{{ $img := resources.Get "images/twittercard/template.png"}}
{{ $img = $img.Filter (images.Text $title (dict
    "color" "#f1f5f9"
    "size" 120
    "linespacing" 2
    "x" 100
    "y" 200
    "font" $font
))}}
{{ $img = $img.Filter (images.Text "Wim Deblauwe" (dict
    "color" "#f1f5f9"
    "size" 80
    "linespacing" 2
    "x" 250
    "y" 710
    "font" $font
))}}
{{ if ne .Type "page" }}
    {{ if gt .Params.tags 0 }}
        {{ $tags := delimit .Params.tags ", " }}
        {{ $tags := string $tags }}
        {{ $img = $img.Filter (images.Text $tags (dict
        "color" "#cbd5e1"
        "size" 50
        "linespacing" 2
        "x" 100
        "y" 140
        "font" $font
        ))}}
    {{ end }}
{{ end }}

{{ return $img }}
