{{ $title := $.LinkTitle }}
{{ $fontTitle := resources.Get "fonts/Barlow-ExtraBold.ttf" }}
{{ $fontBold := resources.Get "fonts/Barlow-Bold.ttf" }}
{{ $img := resources.Get "images/twittercard/template.png" }}
{{ $img = $img.Filter (images.Text $title (dict
    "color" "#13202f"
    "size" 96
    "linespacing" 8
    "x" 100
    "y" 230
    "font" $fontTitle
))}}
{{ $img = $img.Filter (images.Text "Wim Deblauwe" (dict
    "color" "#13202f"
    "size" 60
    "linespacing" 2
    "x" 360
    "y" 680
    "font" $fontBold
))}}
{{ if ne .Type "page" }}
    {{ if gt .Params.tags 0 }}
        {{ $tags := delimit .Params.tags ", " }}
        {{ $tags := string $tags }}
        {{ $img = $img.Filter (images.Text $tags (dict
        "color" "#c2702e"
        "size" 44
        "linespacing" 2
        "x" 100
        "y" 130
        "font" $fontBold
        ))}}
    {{ end }}
{{ end }}

{{ return $img }}
