<!-- Add section about Modern frontends with htmx for blog posts with the 'htmx' tag -->
{{ if and (ne .Type "page") (gt .Params.tags 0) (in .Params.tags "htmx")}}
    {{ if not (strings.HasSuffix .Permalink "blog/2023/12/03/book-launch-modern-frontends-with-htmx/") }}
<aside class="book-ad">
    <span class="badge">From the author</span>
    <a href="/books/modern-frontends-with-htmx/"><img src="/images/modern-frontends-with-htmx/cover-small.jpg" alt="Modern frontends with htmx cover"></a>
    <div class="copy">
        <h3>Modern frontends with htmx</h3>
        <p>Interested in learning more about <b>htmx</b>? The book shows how to use htmx in
            combination with <b>Spring Boot</b> and <b>Thymeleaf</b>.</p>
        <a class="cta" href="/books/modern-frontends-with-htmx/">Get the book →</a>
    </div>
</aside>
    {{ end }}
{{ end }}
