<!-- Add section about Modern frontends with htmx for blog posts with the 'htmx' tag -->
{{ if and (ne .Type "page") (gt .Params.tags 0) (in .Params.tags "htmx")}}
    {{ if not (strings.HasSuffix .Permalink "blog/2023/12/03/book-launch-modern-frontends-with-htmx/") }}
        <div class="book-ad">
            <div class="book-cover">
                <a href="/books/modern-frontends-with-htmx/"><img src="/images/modern-frontends-with-htmx/cover-small.jpg" alt="Modern frontends with htmx cover"></a>
            </div>
            <div>Interested in learning more about htmx? Check out my book
            <a href="/books/modern-frontends-with-htmx/">Modern frontends with htmx</a>.
        The book shows how to use htmx in combination with Spring Boot and Thymeleaf.
                </div>
        </div>
    {{ end }}
{{ end }}
