<div id="signup-block">
    <div>
        <div id="signup-block-title">If you want to be notified in the future about new articles, as well as other interesting things I'm working on, join my mailing list!</div>
        <div id="signup-block-subtitle">I send emails quite infrequently, and will never share your email address with anyone else.</div>
    </div>
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="https://wimdeblauwe.us4.list-manage.com/subscribe/post?u=4913cbe525013df09001104d4&amp;id=e87eb6e672" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4913cbe525013df09001104d4_e87eb6e672" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->
</div>

