<section class="newsletter">
    <span class="badge">Newsletter</span>
    <h3>Get the next article in your inbox</h3>
    <p>If you want to be notified about new articles, as well as other interesting things I'm working on, join my mailing list!</p>
    <!-- Begin Mailchimp Signup Form -->
    <form action="https://wimdeblauwe.us4.list-manage.com/subscribe/post?u=4913cbe525013df09001104d4&amp;id=e87eb6e672" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" placeholder="you@example.com" aria-label="Email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4913cbe525013df09001104d4_e87eb6e672" tabindex="-1" value=""></div>
        <button type="submit" name="subscribe">Subscribe</button>
    </form>
    <!--End mc_embed_signup-->
    <p class="small-note">I send emails quite infrequently, and will never share your email address with anyone else.</p>
</section>
