<!DOCTYPE html>
<html lang="en">
{{ partial "header.html" . }}

<body>
    <div class="container wrapper">
        {{ partial "head.html" . }}

        <div class="section about-me">
            <h2>About Me</h2>
            <div>
                <p>Hi, my name is <b>Wim Deblauwe</b>, a <a href="https://www.widit.be">software developer specialized in Java, Spring, and JVM related tooling.</a></p>
                <p>I wrote <a href="/books/taming-thymeleaf">Taming Thymeleaf</a>, a book to learn more about using Thymeleaf with Spring Boot. I also have a few <a href="/projects">open-source projects</a>: one that makes it easy to do <a href="https://github.com/wimdeblauwe/error-handling-spring-boot-starter">Spring Boot error handling</a>,
                    another for integration of <a href="https://github.com/wimdeblauwe/testcontainers-cypress">Cypress with Testcontainers</a> and a few others.</p>
                <p>I blog regularly here about <a href="/tags/spring-boot/">Spring Boot</a>, <a href="tags/thymeleaf/">Thymeleaf</a>,<a href="tags/asciidoctor/">Asciidoctor</a> and other programming related subjects.</p>
                <p>Stay up to date with the latest content via <a href="/blog/index.xml">the RSS feed</a>, follow <a href="https://twitter.com/wimdeblauwe">me on Twitter</a>, or <a href="/about">subscribe to the mailing list</a>.</p>
            </div>
        </div>

        <div class="recent-posts section">
            <h2 class="section-header">
                Recent posts
            </h2>
            <div class="posts">
                {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }} {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }} {{ range $paginator.Pages }}
                <div class="post">
                    <div class="meta">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
                    <h3 class="summary"><a href="{{ .RelPermalink }}">{{.Title}}</a></h3>
                    <div>
                        <span class="description">{{ .Summary | plainify | htmlUnescape }}</span>
                    </div>
                    <p>
                        <a href="{{ .RelPermalink }}">Read More...</a>
                    </p>
                </div>
                {{ end }} {{ template "partials/paginator.html" . }}
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

</html>
